<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<title>欢迎参加计算机学院、软件学院IT特工向前冲活动</title>
		<link rel="stylesheet" href="/public/css/bootstrap.min.css" media="screen">
		<link href="/public/css/bootstrap-responsive.css" rel="stylesheet">
		<style type="text/css">
			body {
			  padding-top: 60px;
			  padding-bottom: 40px;
			}
		</style>
		<script src="/public/js/changeBody.js"></script>
	</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/ItHome/index">IT特工向前冲</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/ItHome/index">Home</a></li>
              <li class="active"><a href="/ItHome/maintab">Problems</a></li>
              <li class="active"><a href="/ItHome/aboutMe">aboutMe</a></li>
            </ul>
          
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	<div class="container" id="mainBody">
		<div class="hero-unit">
	       	<h3>设计、编码、测试、产品：@我叫黎伟杰</h3>
	       	<br>
	       	<h3>技术支持，指导：@SSer_博文simon</h3>
	       	<br>
	       	<h3>产品说明：</h3>
	       	<br>
	       	<p>前端：Bootstrap</p>
	       	<br>
	       	<p>后端：JavaPlay</p>
	       	<br>
	       	<p>数据库：MySQL</p>
	       	
      	</div>
      		
     </div>

      
      <script src="/public/js/bootstrap.min.js"></script>
</body>
</html>