<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Administrator</title>
	<link rel="stylesheet" href="/public/css/bootstrap.min.css" media="screen">
	<link href="/public/css/bootstrap-responsive.css" rel="stylesheet">
	<script language="JavaScript">
	function startQues(quesId) {
    	var xmlhttp;
	    xmlhttp=new XMLHttpRequest();
	    xmlhttp.open("GET","@{Console.startQues}?quesId="+quesId,true);
	    xmlhttp.send();
	}
	function resetQues(quesId) {
		var xmlhttp;
	    xmlhttp=new XMLHttpRequest();
	    xmlhttp.open("GET","@{Console.resetQues}?quesId="+quesId,true);
	    xmlhttp.send();
	}
	function resetAllQues() {
		var xmlhttp;
	    xmlhttp=new XMLHttpRequest();
	    xmlhttp.open("GET","@{Console.resetAllQues}",true);
	    xmlhttp.send();
	}
	function dominateScore(teamId,variation) {
		var xmlhttp;
	    xmlhttp=new XMLHttpRequest();
	    //传递参数
	    //xmlhttp.open("GET","@{Console.dominateScore}?teamIdId="teamId+"",true);
	    xmlhttp.send();
	    console.log(xmlhttp);	 
	}
	function resetScore(variation) {
		var xmlhttp;
	    xmlhttp=new XMLHttpRequest();
	    xmlhttp.open("GET","@{Console.resetScore}?variation="+variation,true);
	    xmlhttp.send();
	    console.log(xmlhttp);
	}

	</script>

</head>
<body>
	<div class="container" id="mainBody">
		<div class="hero-unit">
			启动题目
			<button   class="btn" onclick="startQues(0)" }>Waiting</button>
			<button   class="btn" onclick="startQues(1)" }>Ques1</button>
			<button   class="btn" onclick="startQues(2)" }>Ques2</button>
			<button   class="btn" onclick="startQues(3)" }>Ques3</button>
			<button   class="btn" onclick="startQues(4)" }>Ques4</button>
			<button   class="btn" onclick="startQues(5)" }>Ques5</button>
			<button   class="btn" onclick="startQues(6)" }>Ques6</button>
			<button   class="btn" onclick="startQues(7)" }>Ques7</button>
			<button   class="btn" onclick="startQues(8)" }>Ques8</button>
			<button   class="btn" onclick="startQues(9)" }>Ques9</button>
			<button   class="btn" onclick="startQues(10)" }>Ques10</button>
		</div>
		<div class="hero-unit">
			重置题目时间			<button   class="btn" onclick="resetAllQues()" }>All</button>
			<button   class="btn" onclick="resetQues(1)" }>Ques1</button>
			<button   class="btn" onclick="resetQues(2)" }>Ques2</button>
			<button   class="btn" onclick="resetQues(3)" }>Ques3</button>
			<button   class="btn" onclick="resetQues(4)" }>Ques4</button>
			<button   class="btn" onclick="resetQues(5)" }>Ques5</button>
			<button   class="btn" onclick="resetQues(6)" }>Ques6</button>
			<button   class="btn" onclick="resetQues(7)" }>Ques7</button>
			<button   class="btn" onclick="resetQues(8)" }>Ques8</button>
			<button   class="btn" onclick="resetQues(9)" }>Ques9</button>
			<button   class="btn" onclick="resetQues(10)" }>Ques10</button>
		</div>
		<div class="hero-unit">
			分数增减<button   class="btn" onclick="resetScore(200)" }>全部初始化</button>
			<table>
				<tr>
					<td>
						<button   class="btn" onclick="dominateScore(1,5)" }>T1</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(2,5)" }>T2</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(3,5)" }>T3</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(4,5)" }>T4</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(5,5)" }>T5</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(6,5)" }>T6</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(7,5)" }>T7</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(8,5)" }>T8</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(9,5)" }>T9</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(10,5)" }>T10</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(11,5)" }>T11</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(12,5)" }>T12</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(13,5)" }>T13</button>
					</td>
				</tr>
				<tr>
					<td>
						<button   class="btn" onclick="dominateScore(1,5)" }>+</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(2,5)" }>+</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(3,5)" }>+</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(4,5)" }>+</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(5,5)" }>+</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(6,5)" }>+</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(7,5)" }>+</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(8,5)" }>+</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(9,5)" }>+</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(10,5)" }>+</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(11,5)" }>+</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(12,5)" }>+</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(13,5)" }>+</button>
					</td>
				</tr>
				<tr>
					<td>
						<button   class="btn" onclick="dominateScore(1,5)" }>-</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(2,5)" }>-</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(3,5)" }>-</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(4,5)" }>-</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(5,5)" }>-</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(6,5)" }>-</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(7,5)" }>-</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(8,5)" }>-</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(9,5)" }>-</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(10,5)" }>-</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(11,5)" }>-</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(12,5)" }>-</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(13,5)" }>-</button>
					</td>
				</tr>

				

			</table>
			
		</div>

	</div>
	
</body>
</html>