<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Administrator</title>
	<link rel="stylesheet" href="/public/css/bootstrap.min.css" media="screen">
	<link href="/public/css/bootstrap-responsive.css" rel="stylesheet">
	<script language="JavaScript">
	function startQues(quesId) {
    	var xmlhttp;
	    xmlhttp=new XMLHttpRequest();
	    xmlhttp.open("GET","@{Console.startQues}?quesId="+quesId,true);
	    xmlhttp.send();
	}
	function resetQues(quesId) {
		var xmlhttp;
	    xmlhttp=new XMLHttpRequest();
	    xmlhttp.open("GET","@{Console.resetQues}?quesId="+quesId,true);
	    xmlhttp.send();
	}
	function resetAllQues() {
		var xmlhttp;
	    xmlhttp=new XMLHttpRequest();
	    xmlhttp.open("GET","@{Console.resetAllQues}",true);
	    xmlhttp.send();
	}
	function dominateScore(teamId,variation) {
		var xmlhttp;
	    xmlhttp=new XMLHttpRequest();
	    //传递参数
	    xmlhttp.open("GET","@{Console.dominateScore}?teamId="+teamId+"&variation="+variation,true);
	    xmlhttp.send();
	    console.log(xmlhttp);	 
	}
	function resetScore(variation) {
		var xmlhttp;
	    xmlhttp=new XMLHttpRequest();
	    xmlhttp.open("GET","@{Console.resetScore}?variation="+variation,true);
	    xmlhttp.send();
	    console.log(xmlhttp);
	}
	function showAnswer() {
		var xmlhttp;
	    xmlhttp=new XMLHttpRequest();
	    xmlhttp.open("GET","@{Console.showAns}",true);
	    xmlhttp.send();
	}

	</script>

</head>
<body>
	<div class="container" id="mainBody">
		<div class="hero-unit">
			启动题目
			<button   class="btn" onclick="startQues(0)" }>Waiting</button>
			<button   class="btn" onclick="showAnswer()" }>展示答案</button>
			<button   class="btn" onclick="startQues(1)" }>Ques1</button>
			<button   class="btn" onclick="startQues(2)" }>Ques2</button>
			<button   class="btn" onclick="startQues(3)" }>Ques3</button>
			<button   class="btn" onclick="startQues(4)" }>Ques4</button>
			<button   class="btn" onclick="startQues(5)" }>Ques5</button>
			<button   class="btn" onclick="startQues(6)" }>Ques6</button>
			<button   class="btn" onclick="startQues(7)" }>Ques7</button>
			<button   class="btn" onclick="startQues(8)" }>Ques8</button>
			<button   class="btn" onclick="startQues(9)" }>Ques9</button>
			<button   class="btn" onclick="startQues(10)" }>Ques10</button>
			<button   class="btn" onclick="startQues(11)" }>Ques11</button>
			<button   class="btn" onclick="startQues(12)" }>Ques12</button>
			<button   class="btn" onclick="startQues(13)" }>Ques13</button>
			<button   class="btn" onclick="startQues(14)" }>Ques14</button>
			<button   class="btn" onclick="startQues(15)" }>Ques15</button>
			<button   class="btn" onclick="startQues(16)" }>Ques16</button>
			<button   class="btn" onclick="startQues(17)" }>Ques17</button>
			<button   class="btn" onclick="startQues(18)" }>Ques18</button>
			<button   class="btn" onclick="startQues(19)" }>Ques19</button>
			<button   class="btn" onclick="startQues(20)" }>Ques20</button>
			<button   class="btn" onclick="startQues(21)" }>Ques21</button>
			<button   class="btn" onclick="startQues(22)" }>Ques22</button>
			<button   class="btn" onclick="startQues(23)" }>Ques23</button>
			<button   class="btn" onclick="startQues(24)" }>Ques24</button>
			<button   class="btn" onclick="startQues(25)" }>Ques25</button>
			<button   class="btn" onclick="startQues(26)" }>Ques26</button>
			<button   class="btn" onclick="startQues(27)" }>Ques27</button>
			<button   class="btn" onclick="startQues(28)" }>Ques28</button>
			<button   class="btn" onclick="startQues(29)" }>Ques29</button>
			<button   class="btn" onclick="startQues(30)" }>Ques30</button>
			<button   class="btn" onclick="startQues(31)" }>Ques31</button>
			<button   class="btn" onclick="startQues(32)" }>Ques32</button>
			<button   class="btn" onclick="startQues(33)" }>Ques33</button>
			<button   class="btn" onclick="startQues(34)" }>Ques34</button>
			<button   class="btn" onclick="startQues(35)" }>Ques35</button>
			<button   class="btn" onclick="startQues(36)" }>Ques36</button>
			<button   class="btn" onclick="startQues(37)" }>Ques37</button>
			<button   class="btn" onclick="startQues(38)" }>Ques38</button>
			<button   class="btn" onclick="startQues(39)" }>Ques39</button>
			<button   class="btn" onclick="startQues(40)" }>Ques40</button>
			<button   class="btn" onclick="startQues(41)" }>Ques41</button>
			<button   class="btn" onclick="startQues(42)" }>Ques42</button>
			<button   class="btn" onclick="startQues(43)" }>Ques43</button>
			<button   class="btn" onclick="startQues(44)" }>Ques44</button>
			<button   class="btn" onclick="startQues(45)" }>Ques45</button>
			<button   class="btn" onclick="startQues(46)" }>Ques46</button>
			<button   class="btn" onclick="startQues(47)" }>Ques47</button>
			<button   class="btn" onclick="startQues(48)" }>Ques48</button>
			<button   class="btn" onclick="startQues(49)" }>Ques49</button>
			<button   class="btn" onclick="startQues(50)" }>Ques50</button>
		</div>
		<div class="hero-unit">
			重置题目时间<button   class="btn" onclick="resetAllQues()" }>All</button>
			<button   class="btn" onclick="resetQues(1)" }>Ques1</button>
			<button   class="btn" onclick="resetQues(2)" }>Ques2</button>
			<button   class="btn" onclick="resetQues(3)" }>Ques3</button>
			<button   class="btn" onclick="resetQues(4)" }>Ques4</button>
			<button   class="btn" onclick="resetQues(5)" }>Ques5</button>
			<button   class="btn" onclick="resetQues(6)" }>Ques6</button>
			<button   class="btn" onclick="resetQues(7)" }>Ques7</button>
			<button   class="btn" onclick="resetQues(8)" }>Ques8</button>
			<button   class="btn" onclick="resetQues(9)" }>Ques9</button>
			<button   class="btn" onclick="resetQues(10)" }>Ques10</button>
			<button   class="btn" onclick="resetQues(11)" }>Ques11</button>
			<button   class="btn" onclick="resetQues(12)" }>Ques12</button>
			<button   class="btn" onclick="resetQues(13)" }>Ques13</button>
			<button   class="btn" onclick="resetQues(14)" }>Ques14</button>
			<button   class="btn" onclick="resetQues(15)" }>Ques15</button>
			<button   class="btn" onclick="resetQues(16)" }>Ques16</button>
			<button   class="btn" onclick="resetQues(17)" }>Ques17</button>
			<button   class="btn" onclick="resetQues(18)" }>Ques18</button>
			<button   class="btn" onclick="resetQues(19)" }>Ques19</button>
			<button   class="btn" onclick="resetQues(20)" }>Ques20</button>
			<button   class="btn" onclick="resetQues(21)" }>Ques21</button>
			<button   class="btn" onclick="resetQues(22)" }>Ques22</button>
			<button   class="btn" onclick="resetQues(23)" }>Ques23</button>
			<button   class="btn" onclick="resetQues(24)" }>Ques24</button>
			<button   class="btn" onclick="resetQues(25)" }>Ques25</button>
			<button   class="btn" onclick="resetQues(26)" }>Ques26</button>
			<button   class="btn" onclick="resetQues(27)" }>Ques27</button>
			<button   class="btn" onclick="resetQues(28)" }>Ques28</button>
			<button   class="btn" onclick="resetQues(29)" }>Ques29</button>
			<button   class="btn" onclick="resetQues(30)" }>Ques30</button>
			<button   class="btn" onclick="resetQues(31)" }>Ques31</button>
			<button   class="btn" onclick="resetQues(32)" }>Ques32</button>
			<button   class="btn" onclick="resetQues(33)" }>Ques33</button>
			<button   class="btn" onclick="resetQues(34)" }>Ques34</button>
			<button   class="btn" onclick="resetQues(35)" }>Ques35</button>
			<button   class="btn" onclick="resetQues(36)" }>Ques36</button>
			<button   class="btn" onclick="resetQues(37)" }>Ques37</button>
			<button   class="btn" onclick="resetQues(38)" }>Ques38</button>
			<button   class="btn" onclick="resetQues(39)" }>Ques39</button>
			<button   class="btn" onclick="resetQues(40)" }>Ques40</button>
			<button   class="btn" onclick="resetQues(41)" }>Ques41</button>
			<button   class="btn" onclick="resetQues(42)" }>Ques42</button>
			<button   class="btn" onclick="resetQues(43)" }>Ques43</button>
			<button   class="btn" onclick="resetQues(44)" }>Ques44</button>
			<button   class="btn" onclick="resetQues(45)" }>Ques45</button>
			<button   class="btn" onclick="resetQues(46)" }>Ques46</button>
			<button   class="btn" onclick="resetQues(47)" }>Ques47</button>
			<button   class="btn" onclick="resetQues(48)" }>Ques48</button>
			<button   class="btn" onclick="resetQues(49)" }>Ques49</button>
			<button   class="btn" onclick="resetQues(50)" }>Ques50</button>

		</div>
		<div class="hero-unit">
			分数增减<button   class="btn" onclick="resetScore(200)" }>全部初始化</button>
			<table>
				<tr>
					<td>
						<button   class="btn" }>T1</button>
					</td>
					<td>
						<button   class="btn" }>T2</button>
					</td>
					<td>
						<button   class="btn" }>T3</button>
					</td>
					<td>
						<button   class="btn" }>T4</button>
					</td>
					<td>
						<button   class="btn" }>T5</button>
					</td>
					<td>
						<button   class="btn" }>T6</button>
					</td>
					<td>
						<button   class="btn" }>T7</button>
					</td>
					<td>
						<button   class="btn" }>T8</button>
					</td>
					<td>
						<button   class="btn" }>T9</button>
					</td>
					<td>
						<button   class="btn" }>T10</button>
					</td>
					<td>
						<button   class="btn" }>T11</button>
					</td>
					<td>
						<button   class="btn" }>T12</button>
					</td>
				</tr>
				<tr>
					<td>
						<button   class="btn" onclick="dominateScore(1,10)" }>+</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(2,10)" }>+</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(3,10)" }>+</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(4,10)" }>+</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(5,10)" }>+</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(6,10)" }>+</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(7,10)" }>+</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(8,10)" }>+</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(9,10)" }>+</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(10,10)" }>+</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(11,10)" }>+</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(12,10)" }>+</button>
					</td>
				</tr>
				<tr>
					<td>
						<button   class="btn" onclick="dominateScore(1,-5)" }>-</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(2,-5)" }>-</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(3,-5)" }>-</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(4,-5)" }>-</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(5,-5)" }>-</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(6,-5)" }>-</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(7,-5)" }>-</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(8,-5)" }>-</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(9,-5)" }>-</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(10,-5)" }>-</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(11,-5)" }>-</button>
					</td>
					<td>
						<button   class="btn" onclick="dominateScore(12,-5)" }>-</button>
					</td>

				</tr>

				

			</table>
			
		</div>

	</div>
	
</body>
</html>