<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<title>欢迎参加计算机学院、软件学院IT特工向前冲活动</title>
		<link rel="stylesheet" href="/public/css/bootstrap.min.css" media="screen">
		<link href="/public/css/bootstrap-responsive.css" rel="stylesheet">
		<style type="text/css">
			body {
			  padding-top: 60px;
			  padding-bottom: 40px;
			}
		</style>
		<script src="/public/js/changeBody.js"></script>
	</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">IT特工向前冲</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="">Home</a></li>
              <li class="active"><a href="main">Problem</a></li>
            </ul>
          
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	<div class="container" id="mainBody">
		<div class="hero-unit">
	        <h1>“IT特工向前冲”六项技能竞赛</h1>
	        <h2>恭喜你们<p>过五关斩六将之后终于来到了终极决战：电脑知识大抢答</p></h2>
	        <p>本关分为1道选择题，1道问答题</p>
	        <div class="row">
			
				
			</div>
			<div class="container">

				<form class="form-signin" type="post">
				  <div class="span3"><button class="btn btn-large btn-primary" onclick="document.location='http://www.djasp.net'">Start!
				  </button></div>
				</form>

    		</div>
      	</div>
      		
     </div>

      
      <script src="/public/js/bootstrap.min.js"></script>
</body>
</html>