<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/public/css/bootstrap.min.css" media="screen">
	<link href="/public/css/bootstrap-responsive.css" rel="stylesheet">
	<style type="text/css">
		body {
		  padding-top: 60px;
		  padding-bottom: 40px;
		}
	</style>
	<title>Insert title here</title>
	
	<script type="text/javascript">
	
	</script>
	
	
	
	
	
	
	
	
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">IT特工向前冲</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
            </ul>
            <form class="navbar-form pull-right" id="login"  method="POST" >
              <input class="span2" type="password" placeholder="登陆密钥"  name="password" >
              
              <button class="btn btn-large btn-inverse" type="submit">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <div class="container-fluid">
		<div class="row-fluid">
    		<div class="span1"></div>
			<div class="span7">
				<h1>题目：</h1>
				<br>
				<h3>1．word文字处理部分，切换到文字处理，完成以下操作。 
					•(1) 为全文添加标题，标题文字为“IT特工向前冲六项技能竞赛”（不包括引号），并设置为黑体，一号，加粗，具有“赤水情深”的动态效果，标题文字“居中”对齐；
					•(2) 除标题外的正文进行“分栏”，栏数为2,具有分隔线，间距为一个字符；
					•(3) 给标题添加尾注“计软学院学风建设系列活动之一”， 编号标记为“①”。 
					•（4） 插入图片a，选择合适大小（参考高度为5厘米），版式为“四周型”；
				</h3>
			</div>
			<div class="span2">
				<h1>状态：</h1>
				<br><br>
				<div class="span3"><button class="btn btn-block">T1</button></div>
				<div class="span3"><button class="btn btn-block btn-danger">T2</button></div>
				<div class="span3"><button class="btn btn-block">T3</button></div>
				<br>
				<div class="span3"><button class="btn btn-block btn-success">T4</button></div>
				<div class="span3"><button class="btn btn-block">T5</button></div>
				<div class="span3"><button class="btn btn-block">T6</button></div>
				<br>
				<div class="span3"><button class="btn btn-block">T7</button></div>
				<div class="span3"><button class="btn btn-block">T8</button></div>
				<div class="span3"><button class="btn btn-block">T9</button></div>
				<br><br><br><br><br>
				
				<div class="span9"><button class="btn btn-large btn-danger btn-block"type="button"><h1>抢！ </h1></button></div>
			</div>
		</div>
	</div>
	<br>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span1"></div>
			<div class="span6">
				<table class="table table-bordered">
					<tr>
						<td id="T1Score">T1:10</td>
						<td id="T2Score">T2:50</td>
						<td id="T3Score">T3:30</td>
						<td id="T4Score">T4:50</td>
						<td id="T5Score">T5:30</td>
						
					</tr>
					<tr>
						<td id="T6Score">T6:2</td>
						<td id="T7Score">T7:5</td>
						<td id="T8Score">T8:6</td>
						<td id="T9Score">T9:7</td>
						<td>NULL</td>
						
					</tr>
				</table>			
			</div>
			<div class="span3">
				<table class="table">
					<tr>
						<td>
							<div class="span1 offset4"><strong>4/10</div>
						</td>
					</tr>
					<tr>
						<td>
					
							<div class="progress progress-stripedactive">
							  <div class="bar" style="width: 40%;"></div>
							</div>
					
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<script>
		function gettime(){
			console.log("Welcome to console.");
		var resultDiv=document.getElementById("resultBroad");
		var currentDate = new Date();
		resultDiv.innerHTML = currentDate; 
		$("#resultBroad").attr("width","180");
		$("#resultBroad").attr("length","180");
		$("#resultBroad").attr("class","btn");
		}

		var intervalId = window.setInterval("new gettime()", 1000);
		var test= new Array();
		test[0]=3;
		test[1]=2;
		test[2]=1;
		console.log(test);
		test.sort();
		console.log(test);



	</script>
	
    
	<script src="/public/js/bootstrap.js"></script>
</body>
</html>