<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/public/css/bootstrap.min.css" media="screen">
	<script src="/public/jquery/js/jquery-1.8.2.js"></script>
	<link href="/public/css/bootstrap-responsive.css" rel="stylesheet">

	<style type="text/css">
		body {
		  padding-top: 60px;
		  padding-bottom: 40px;
		}
	</style>
	<title>It特工向前冲</title>
	
	
	
	
	
	
</head>
<body onload="setTeamlogin()">
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/ItHome/index">IT特工向前冲</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
				<li class="active"><a href="/ItHome/index">Home</a></li>
				<li class="active"><a href="/ItHome/maintab">Problems</a></li>
            </ul>
            <div class="span2 navbar-form pull-right"  >	
            	<button class="btn btn-large btn-inverse" onclick="signout()">注销</button>
            </div>
			<div class="span3 navbar-form pull-right"  >	
            	<h3 id = "teamName">Welcome back! </h3>
            </div>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <div class="container-fluid">
		<div class="row-fluid">
    		<div class="span1"></div>
			<div class="span7">
				<h1>题目：</h1>
				<br>
				<h3 id="mainText"></h3>
			</div>
			<div class="span2">
				<h1>状态：</h1>
				<br><br>
				<div class="span3"><button class="btn btn-block" id="T1Time">T1</button></div>
				<div class="span3"><button class="btn btn-block" id="T2Time">T2</button></div>
				<div class="span3"><button class="btn btn-block" id="T3Time">T3</button></div>
				<br>
				<div class="span3"><button class="btn btn-block" id="T4Time">T4</button></div>
				<div class="span3"><button class="btn btn-block" id="T5Time">T5</button></div>
				<div class="span3"><button class="btn btn-block" id="T6Time">T6</button></div>
				<br>
				<div class="span3"><button class="btn btn-block" id="T7Time">T7</button></div>
				<div class="span3"><button class="btn btn-block" id="T8Time">T8</button></div>
				<div class="span3"><button class="btn btn-block" id="T9Time">T9</button></div>
				<br>
				<div class="span3"><button class="btn btn-block" id="T10Time">T10</button></div>
				<div class="span3"><button class="btn btn-block" id="T11Time">T11</button></div>
				<div class="span3"><button class="btn btn-block" id="T12Time">T12</button></div>
				<br><br><br><br><br>
				
				<div class="span9"><button class="btn btn-large btn-danger btn-block"type="button" onclick="sendGetProblem()"><h1>抢！ </h1></button></div>
			</div>
		</div>
	</div>
	<br>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span1"></div>
			<div class="span7">
				<table class="table table-bordered">
					<tr>
						<td id="T1Score">T1:10</td>
						<td id="T2Score">T2:50</td>
						<td id="T3Score">T3:30</td>
						<td id="T4Score">T4:50</td>
						<td id="T5Score">T5:30</td>
						<td id="T6Score">T6:2</td>
					</tr>
					<tr>
						
						<td id="T7Score">T7:5</td>
						<td id="T8Score">T8:6</td>
						<td id="T9Score">T9:7</td>
						<td id="T10Score">T10:7</td>
						<td id="T11Score">T11:7</td>
						<td id="T12Score">T12:7</td>
						
					</tr>
				</table>			
			</div>
			<div class="span2">
				<table class="table">
					<tr>
						<td>
							<div id="progressText" class="span1 offset4"><strong>0</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="progress progress-stripedactive">
					    		<div  id="progressBar" class="bar" style="width: 0%;"></div>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<script>
		var scores = new Array();
		function getScore(){		
			
			var xmlhttp =new Array();
		    for(var i=1;i<=12;i++)
		    {
		    	
			    xmlhttp[i]=new XMLHttpRequest();

			    xmlhttp[i].onreadystatechange=function()
				{

					if (this.readyState==4 && this.status==200)
					{
						
						var str =  this.responseText.split("-");
						scores[str[0]] = parseInt(str[1]);
						
					 	document.getElementById("T"+str[0]+"Score").innerHTML="T"+str[0]+":"+str[1];
					}
				}				
			    xmlhttp[i].open("GET","@{Console.getTeamScore}?teamId="+i,true);
			    xmlhttp[i].send();
		    }			
		}
		function setMaxScore(){
			var maxer = 0;
			for(var i=1;i<=12;i++)
			{
				
				if (maxer<scores[i])
				{
					maxer=scores[i];
				}
			}

			if (maxer!=0)
			for(var i=1;i<=12;i++)
			{
				if (maxer==scores[i])
				{
					var targetId = "T"+i+"Score";
					$('#'+targetId).attr("class","btn btn-block span3 btn-danger");
				}
				else 
				{
					var targetId = "T"+i+"Score";
					$('#'+targetId).removeAttr("bgcolor");	
					$('#'+targetId).attr("class","btn btn-block span3");
				}
			}
		}
		function getMainText(){
			var xmlhttp=new XMLHttpRequest();
			var xmlhttp2=new XMLHttpRequest();
			xmlhttp.onreadystatechange=function()
			{
				if (this.readyState==4 && this.status==200)
				{	
				 	document.getElementById("mainText").innerHTML=this.responseText;
				}
			}
			xmlhttp2.onreadystatechange=function()
			{
				if (this.readyState==4 && this.status==200)
				{	
					var str =  this.responseText.split("-");
				 	document.getElementById("progressText").innerHTML=str[0];
				 	$('#progressBar').attr("style","width: "+str[1]+"%;");
				}
			}
		    xmlhttp.open("GET","@{Console.getProblem}",true);
		    xmlhttp.send();
		    xmlhttp2.open("GET","@{Console.getPercentage}",true);
		    xmlhttp2.send();
		}
		var times = new Array();
		function setQuickerTeam(){
			var xmlhttp =new Array();
		    for(var i=1;i<=9;i++)
		    {
		    	
			    xmlhttp[i]=new XMLHttpRequest();

			    xmlhttp[i].onreadystatechange=function()
				{
					if (this.readyState==4 && this.status==200)
					{
						var str =  this.responseText.split("-");
						times[str[0]] = parseInt(str[1]);					
					}
				}				
			    xmlhttp[i].open("GET","@{Console.getTeamTime}?teamId="+i,true);
			    xmlhttp[i].send();
		    }
		    var maxer = 0;
			for(var i=1;i<=9;i++)
			{

				if (maxer==0&&times[i]!=0) maxer=times[i];
				if (maxer>times[i]&&times[i]!=0)
				{
					maxer=times[i];
				}
			}

			
			for(var i=1;i<=9;i++)
			{
				if (maxer==times[i]&&maxer!=0)
				{
					console.log(times[i]);
					var targetId = "T"+i+"Time";
					$('#'+targetId).attr("class","btn btn-block btn-danger");
				}
				else 
				{
					var targetId = "T"+i+"Time";
					$('#'+targetId).removeAttr("class");	
					$('#'+targetId).attr("class","btn btn-block");
				}
			}
		}

		function getCookie(c_name)
		{
		if (document.cookie.length>0)
		  {
		  c_start=document.cookie.indexOf(c_name + "=")
		  if (c_start!=-1)
		    { 
		    c_start=c_start + c_name.length+1 
		    c_end=document.cookie.indexOf(";",c_start)
		    if (c_end==-1) c_end=document.cookie.length
		    return unescape(document.cookie.substring(c_start,c_end))
		    } 
		  }
		return ""
		}

		function setCookie(c_name,value,expiredays)
		{
			var exdate=new Date()
			exdate.setDate(exdate.getDate()+expiredays)
			document.cookie=c_name+ "=" +escape(value)+
			((expiredays==null) ? "" : ";expires="+exdate.toGMTString())
			getTeamName();

		}

		function setTeamlogin(password)
		{
			teamId=getCookie("teamId")
			if (teamId!=null && teamId!="")
			  {getTeamName();}
			else 
			  {
			  teamId=prompt('输入队伍号:',"")
			  if (teamId!=null && teamId!="")
			    {
			    	if (teamId>=3650&&teamId<=3662)
			    		setCookie("teamId",teamId-3649,365);
			    	else 
			    	{
			    		alert('号码错误，请重新输入!');
			    		location.reload();
			    	}
			    		
			    }
			  }
		}

		function sendGetProblem(){
			var xmlhttp=new XMLHttpRequest();
			teamId=getCookie("teamId")
		    xmlhttp.open("GET","@{Console.setTeamAnswerTime}?teamId="+teamId,true);
		    xmlhttp.send();
		}

		function getTeamName(){
			var xmlhttp=new XMLHttpRequest();
			xmlhttp.onreadystatechange=function()
			{
				if (this.readyState==4 && this.status==200)
				{	

				 	document.getElementById("teamName").innerHTML=this.responseText;
				}
			}
			teamId=getCookie("teamId")		
		    xmlhttp.open("GET","@{Console.getTeamName}?teamId="+teamId,true);
		    xmlhttp.send();
		}

		function signout()
		{
			teamId=getCookie("teamId");
			if (teamId!=null && teamId!="")
			{
				//注销
				setCookie("teamId","",365);
			}
			//刷新页面
			location.reload();
		}
		var teamScoreId = window.setInterval("new getScore()", 1000);
		var maxScoreId = window.setInterval("new setMaxScore()", 100);
		var quickerTeamId = window.setInterval("new setQuickerTeam()", 100);
		var mainTextId = window.setInterval("new getMainText()", 100);



	</script>
	
    
	<script src="/public/js/bootstrap.js"></script>
</body>
</html>